$bodyColor: #dcbb9a;
$headColor: #893c00;
$textColor: #000000;
$contColor: #ffffff;
$brieColor: #fadcba;
$linkColor: #3d70a1;
$lmusColor: #e0e0e0;
$formColor: #808080;
$tColor:rgba(198, 238, 252, 0.53);
$forFloatL: left;
$forFloatR: right;